{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <h3>Ordonnances:</h3>
        <div class="container" id="content">
            <div class="row">
                <div class="col">
                    <strong>id</strong>
                </div>
                <div class="col">
                    <strong>Email</strong>
                </div>
                <div class="col">
                    <strong>Prénom</strong>
                </div>
                <div class="col">
                    <strong>Nom</strong>
                </div>
                <div class="col">
                    <strong>Nom Medecin</strong>
                </div>
                <div class="col">
                    <strong>Date de l'ordonnance</strong>
                </div>
                <div class="col">
                    <strong>Ordonnance</strong>
                </div>
                <div class="col">
                    <strong>Supprimer</strong>
                </div>
            </div>

        {% for prescription in prescriptions %}
            <div class="row">
                <div class="col">
                    {{ prescription.userId.id }}
                </div>
                {% for user in users %}
                    {% if user.id == prescription.userId.id %}
                        <div class="col">
                            {{ user.email }}
                        </div>
                        <div class="col">
                            {{ user.firstname }}
                        </div>
                        <div class="col">
                            {{ user.lastname }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col">
                    {% if  prescription.doctor.id == null %}
                        pas de medecin
                    {% else %}
                        {{ prescription.doctor.lastname }}
                    {% endif %}
                </div>
                <div class="col">
                    {{ prescription.prescriptionDate | date("d/m/Y") }}
                </div>
                <div class="col">
                    <a href="{{ asset('uploads/prescriptions/' ~ prescription.prescriptionFileName) }}">Voir</a>
                </div>
                <div class="col">
                    <a href="{{ path('app_delete_prescription', {'idPrescription': prescription.id }) }}">Supprimer</a>
                </div>
            </div>
        {%  endfor %}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        #content{
            background-color: #f5dbdf;
            border-radius: 20px;
            padding: 15px;
            margin-top: 20px;
        }
    </style>
{% endblock %}

