{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    {% for prescription in prescriptions %}
{#        {{ dump(prescription) }}#}
        <p>Patient: {{ prescription.userId.id }}</p>
        <p>Voir prescription: <a href="{{ asset('uploads/prescriptions/' ~ prescription.prescriptionFileName) }}">{{ prescription.prescriptionFileName }}</a></p>
        <a href="{{ path('app_admin_users') }}">Retour</a>
    <hr>
    {% endfor %}
    </div>
{% endblock %}

{% block title %}
Prescriptions
{% endblock %}

