{% extends 'base.html.twig' %}

{% block body %}
    <h2>Produits en stock:</h2>
<div class="container">
    {% for product in products %}
{#        {{ dump(product) }}#}
{#        {% dump(product) %}#}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.designation }}</h5>
                <p class="card-text">code produit: {{ product.codeproduit }}</p>
                <p class="card-text">{{ product.stock }} en stock</p>
                <p class="card-text">TVA: {{ product.tva }}%</p>
                <p class="card-text">Prix de vente Public TTC: {{ product.prixvente }}€</p>
                <a href="#" class="btn btn-primary">Voir</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            display: flex;
            flex-wrap: wrap;
        }
    </style>
{% endblock %}

