<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% if app.user %}
                    <div>{{ app.user.userIdentifier }} connecté.</div>
                {% endif %}
                <a class="navbar-brand mb-0 h1" href="{{ path('app_home') }}">PR-51-SRV</a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">PR-51-SRV</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        {% if app.user == false %}
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        {% else %}
                            <div class="mb-3">
                                <a class="nav-link" href="{{ path('app_admin_users') }}">Utilisateurs</a>
                                <a class="nav-link" href="{{ path('app_contact') }}">Contacts</a>
                                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}" ></script>
    </body>
</html>
