{% extends 'base.html.twig' %}

{% block title %}Pilulier{% endblock %}

{% block body %}
    <div class="container">
        <h2>Patients avec pilulier:</h2>
    </div>
    <div class="container" id="content">

    <div class="container">
        <div class="row">
            <div class="col-2">
                <strong>Nom</strong>
            </div>
            <div class="col-2">
                <strong>Prénom</strong>
            </div>
            <div class="col-4">
                <strong>email</strong>
            </div>
            <div class="col-2">
                <strong>Téléphone</strong>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </div>
    {% for app_user in app_users %}
        <div class="container">
            <div class="row">
                <div class="col-2">
                    {{ app_user.lastname }}
                </div>
                <div class="col-2">
                    {{ app_user.firstname }}
                </div>
                <div class="col-4">
                    {{ app_user.email }}
                </div>
                <div class="col-2">
                    {{ app_user.phonenumber }}
                </div>
                <div class="col">
                    <a href="{{ path('app_all_user', {'id': app_user.id}) }}" title="Prescriptions"><i class="bi bi-file-earmark-medical"></i></a>
                </div>
                <div class="col">
                    <a href="{{ path('app_all_user', {'id': app_user.id}) }}" title="Piluliers"><i class="bi bi-capsule-pill"></i></a>
                </div>
                <div class="col">
                    <a href="#" title="Modifier"><i class="bi bi-pencil-square"></i></a>
                </div>
                <div class="col">
                    <a href="{{ path('app_users_del', {'id': app_user.id}) }}" title="Supprimer"><i class="bi bi-trash"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        #content{
            background-color: #dcfad6;
            border-radius: 20px;
            padding: 15px;
            margin-top: 20px;
        }
    </style>

{% endblock %}
