{% extends 'base.html.twig' %}

{% block title %}Fiche patient{% endblock %}

{% block body %}
    <div class="container">
        <h2>Tableau de bord de {{ user.lastname }}:</h2>
        <div class="container" style="background-color: #d0eff6">
        <h4>Patient: <a href="{{ path('app_edit_user', {'id' : user.id}) }}"><i class="bi bi-pencil-square"></i></a></h4>
            <div class="row">
                <div class="col">
                    <strong>Prénom:</strong>
                </div>
                <div class="col">
                    <strong>Nom: </strong>
                </div>
                <div class="col">
                    <strong>Email: </strong>
                </div>
                <div class="col">
                    <strong>Téléphone: </strong>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ user.firstname }}
                </div>
                <div class="col">
                    {{ user.lastname }}
                </div>
                <div class="col">
                    {{ user.email }}
                </div>
                <div class="col">
                    {{ user.phonenumber }}
                </div>
            </div>
        </div>

        <div class="container" style="background-color: #f6dadd">
            <h4>Prescriptions: <a href="{{ path('app_upload_filePrescription', {'userId': user.id }) }}"><i class="bi bi-plus-square-fill"></i></a></h4>
            <div class="row">
                <div class="col"><strong>Date de l'ordonnance</strong></div>
                <div class="col"><strong>Nom du medecin</strong></div>
                <div class="col"><strong>Voir</strong></div>
            </div>
            {% for prescription in user.prescriptions %}
                <div class="row">
                    <div class="col">{{ prescription.prescriptionDate }}</div>
                    <div class="col">{{ prescription.doctor.lastname }}</div>
                    <div class="col"><a href="{{ asset('uploads/prescriptions/' ~ prescription.prescriptionFileName) }}">Voir</a></div>
                </div>
            {% endfor %}
        </div>

        <div class="container" style="background-color: #d9f8ed">
        <h4>Piluliers: <a href="{{ path('app_new_pillbox') }}"><i class="bi bi-plus-square-fill"></i></a></h4>
            <div class="row">
                <div class="col">
                    <strong>Début</strong>
                </div>
                <div class="col">
                    <strong>Fin</strong>
                </div>
                <div class="col">
                    <strong>Nom du pilulier</strong>
                </div>
                <div class="col">
                    <strong>Prix du pilulier</strong>
                </div>
                <div class="col">
                    <strong>Statut de paiement</strong>
                </div>
            </div>
        {% for pillbox in user.pillboxes %}
            <div class="row">
                <div class="col">
                    {{ pillbox.start|date('d-m-Y') }}
                </div>
                <div class="col">
                    <p>{{ pillbox.end|date('d-m-Y') }}</p>
                </div>
                <div class="col">
                    <p>{{ pillbox.comments }}</p>
                </div>
                <div class="col">
                    <p>{{ pillbox.price }}€</p>
                </div>
                <div class="col">
                    {% if pillbox.payed %}
                    <p>Réglé</p>
                    {% else %}
                    Non réglé
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="container" style="background-color: #fafad8">
            <h4>Locations: <a href="#"><i class="bi bi-plus-square-fill"></i></a></h4>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .container{
            border-radius: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 15px;
        }
    </style>
{% endblock %}
